<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<h2 class=content-subhead>Results for '<%= @search_term %>'</h2>

<% if @matching_chap_nums.empty? %>
  <p>Sorry, no matches were found.</p>
<% else %>
  <ul>
    <% @contents.each_with_index do |chapter, index| %>
      <% if @matching_chap_nums.include?(index + 1) %>
        <li>
          <a href="/chapters/<%= index + 1%>"><%= chapter %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>